<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Foreign Einsicht</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>
    <!-- Jumbotron banner -->
    <div class="jumbotron text-center">
        <h1>Foreign Einsicht</h1>
        <h2>Insights into German media</h2>
    </div>
    <!-- Begin page content -->
    <div class="container">
        {{{body}}}
    </div>
    <!-- Begin footer -->
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Built using the news API, Google's natural language API and Google's translation API.</p>
        </div>
    </footer>
</body>

</html>